$body-bg: black;
$body-color: white;
$primary: rgb(209, 208, 208);
$secondary: rgb(135, 120, 70);

$font-family-sans-serif: "Quicksand", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
.navbar-collapse {
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .container-intro {
    display: flex;
  }
}
