$body-bg: black;
$body-color: white;
$primary: rgb(209, 208, 208);
$secondary: rgb(135, 120, 70);

$font-family-sans-serif: "Quicksand", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
.navbar-collapse {
  justify-content: flex-end;
}
.intro-text {
  padding-right: 1rem;
  padding-top: 2rem;
}
.intro-image {
  padding-top: 2rem;
  // background-size: auto;
}
.intro-image img {
  border-radius: 10px;
  margin-right: 1rem;
  max-width: 400px;
  border: 2px solid $secondary;
}

//minimum 992px en groter

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .home-section,
  .behandelingen-section {
    height: 100vh;
  }
  .container-intro {
    display: flex;
    justify-content: space-around;
  }
  .intro-text {
    max-width: 400px;
  }
  //Buttons hero section
}
