$body-bg: #191c20;
$body-bg1: #1d2125;
$body-color: white;
$primary: rgb(209, 208, 208);
$secondary: #fbc531;
$third: rgb(135, 120, 70);
$fourth: #4b5664;
$fifth: #dcdde1;

$font-family-sans-serif: "Quicksand", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pijl-boven {
  z-index: 10;
  background: $secondary;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: $body-bg;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.pijl-boven.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
.container .navbar {
  background: $body-bg;
}

.navbar-collapse {
  justify-content: flex-end;
}
.dropdown-toggle::after {
  color: $secondary;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.intro-text {
  padding-right: 1rem;
  padding-top: 2rem;
}
.intro-image {
  padding-top: 2rem;
  // background-size: auto;
}
.intro-image img {
  border-radius: 10px;
  margin-right: 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid $secondary;
}

.card {
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.card-img,
.card-img-top {
  object-fit: cover;
  aspect-ratio: 1/0.7;
}
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  background: $body-bg1;
  border: none;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;

  .card-title {
    font-size: 1.1rem;
    // font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid $secondary;
    span {
      font-size: 0.8rem;
    }
  }
  .card-extra-info {
    font-size: 0.8rem;
  }
  .card-text {
    color: $fifth;
  }
  p {
    margin-bottom: 0.3rem;
  }
  .acne-zorg {
    padding-top: 1rem;
    border-top: 1px solid $secondary;
    font-size: 0.8rem;
  }
}
.card-body .overige-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-footer {
  background: $body-bg1;
  border: none;

  .text-muted {
    color: $secondary !important;
    letter-spacing: 0.1rem;
  }
}
.card-body .overige-container p span {
  color: $secondary;
  letter-spacing: 0.1rem;
}
.gallerij-section {
  background: $body-bg;
  background-size: 100% 100%;
  width: 100%;
  // height: 100vh;
}
.carousel {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.contact-section {
  // background: url(../assets/images/contact-people.jpg) no-repeat;
  background: $body-bg;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  .container {
    background: $body-bg1;
    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  .map {
  }
}

//minimum 992px en groter

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .home-section,
  .behandelingen-section,
  .gallerij-section,
  .contact-section {
    height: 100%;
  }
  .container-intro {
    display: flex;
    justify-content: space-around;
  }
  .intro-text {
    max-width: 400px;
  }
  .card-text {
    font-size: 0.9rem;
  }
}
